<div class="lg:flex lg:justify-around " id="searchResultContainer">
    <div class=" lg:mt-12"><!--Filtering-->
        <form class="drop-shadow-sm rounded-md pb-14 space-y-10 pr-28 pl-4 bg-white hidden lg:block">
            <div class=" mb-2 pt-2"><!--Condition-->
                <div class="text-sm font-medium py-2">
                    CONDITION
                </div>
                <div class="flex flex-col text-sm space-y-4">
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="likenew" name="likenew" value="new">
                        <label class="cursor-pointer text-xs" for="likenew">Like New</label>
                    </div>
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="old" name="old" value="old">
                        <label class="cursor-pointer text-xs" for="old">Old</label>
                    </div>
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="readable" name="readable" value="readable">
                        <label class="cursor-pointer text-xs" for="readable">Readable</label>
                    </div>
                </div>
            </div>
            <div class=" mb-2"><!--Price-->
                <div class="text-sm font-medium py-2">
                    PRICE
                </div>
                <div class="flex flex-col text-sm space-y-4">
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="50-100" name="50-100" value="50-100">
                        <label class="cursor-pointer text-xs" for="50-100">Rs.50 to Rs.100</label>
                    </div>
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="100-200" name="100-200" value="100-200">
                        <label class="cursor-pointer text-xs" for="100-200">Rs.100 to Rs.200</label>
                    </div>
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="200-300" name="200-300" value="200-300">
                        <label class="cursor-pointer text-xs" for="200-300">Rs.200 to Rs.300</label>
                    </div>
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="300-400" name="300-400" value="300-400">
                        <label class="cursor-pointer text-xs" for="300-400">Rs.300 to Rs.400</label>
                    </div>
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="400-500" name="400-500" value="400-500">
                        <label class="cursor-pointer text-xs" for="400-500">Rs.400 to Rs.500</label>
                    </div>
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="above 500" name="above 500" value="above 500">
                        <label class="cursor-pointer text-xs" for="above 500">Above 500</label>
                    </div>
                </div>
            </div>
            <div class=" mb-2"><!--Discount-->
                <div class="text-sm font-medium py-2">
                    DISCOUNT
                </div>
                <div class="flex flex-col text-sm space-y-4">
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="10%" name="10" value="10">
                        <label class="cursor-pointer text-xs" for="10%">10% and above</label>
                    </div>
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="30%" name="30%" value="30%">
                        <label class="cursor-pointer text-xs" for="30%">30% and above</label>
                    </div>
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="50%" name="50%" value="50%">
                        <label class="cursor-pointer text-xs" for="50%">50% and above</label>
                    </div>
                    <div class="select-none cursor-pointer space-x-2 flex items-center">
                        <input class="cursor-pointer" type="checkbox" id="80%" name="80%" value="80%">
                        <label class="cursor-pointer text-xs" for="80%">80% and above</label>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
    <div> <!--Novel conatiner-->
        <div class="grid-cols-2 lg:grid-cols-6 lg:gap-x-8 gap-x-3 sm:grid-cols-4 mt-3 w-full grid px-5 gap-y-4 lg:mt-12"> <!--Books group container-->
            <!--item-->
            <!--item2-->
            <!--item3-->
            <% searchResults.forEach(function(data){ %>
                <div class="bg-white md:min-w-[135px] md:max-w-[135px]  min-w-[150px] max-w-[150px] min-h-[180px]  rounded-md drop-shadow-sm  pt-2 pb-1 relative lg:min-h-[200px] lg:min-w-[160px] w-3  "> 
                    <div class="flex items-center justify-center"> 
                        <img class="rounded-t-md w-[160px] md:w-[135px] h-[120px] md:h-[100px] object-contain pb-2 border-b lg:min-h-[120px] lg:min-w-[150px]" src="<%= data.imageUrl %>" alt="">
                    </div>
                    <div class="flex flex-col items-center ">
                        <p class="mt-2 text-[#4B727A] font-semibold text-[13px] max-w-[130px] lg:max-w-[140px] truncate lg:text-sm"><%= data.bookName %></p>
                        <p class="text-[#5E8E99] font-normal text-[11px] max-w-[120px] lg:max-w-[130px] truncate lg:text-xs"><%= data.author %> </p>
                        <div class="mt-[-5px] lg:mt-[1px]">
                            <span class="text-xs py-1 font-bold text-[#008000] lg:text-sm"><%= data.discount %>% off</span> <span class="text-xs text-[#666666] line-through lg:text-sm"><%= data.MRP %></span> <span class="text-xs font-bold lg:text-sm"><%= data.salePrice %></span></div>
                    </div>
                    <div class="w-full px-3 my-2">
                        <button class="flex justify-center bg-[#DAA520] items-center px-2 py-[2px] rounded-lg text-white space-x-[2px] w-full lg:px-2 lg:py-1">
                            <p class="text-xs lg:text-sm font-medium ">Add to cart</p>
                            <img class="h-3 lg:h-4" src="/images/shopping-cart white.png" alt="">
                        </button>
                    </div>
                </div>
            <% })%>
        </div>
    </div>
</div>