<%-include("../partials/user/head.ejs")%>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="/css/user/header.css">
<body class="bg-[#F2F2F2] flex flex-col h-screen">
    <%-include('../partials/user/headerPhone.ejs')%>
    <%-include('../partials/user/HeaderDesktopUser.ejs')%>
    <div class="searchResult-Container">
    </div>
    <main class="px-3 lg:px-96 lg:mt-10">
       <div class="bg-white rounded-md px-3 py-6 mt-3  lg:h-60 "> <!--Profile-->
            <div class="flex justify-between">
                <div class="flex items-center space-x-2">
                    <img class="h-5 lg:h-8" src="/images/user blue filled.png" alt="">
                     <p class="font-medium lg:text-2xl "><%=customer.name %></p>
                </div>
                <div class="flex items-center justify-end hidden" id="labelEditButton" >
                    <label for="editSubmit" class="bg-[#DAA520] px-3 text-sm py-[2px] lg:px-5 rounded-md text-white font-medium ">Edit</label>
                </div>
                
            </div>
            <div class="flex items-center lg:space-x-9 space-x-6 mt-3 text-sm lg:text-base text-[#666666]">
                <div class="">
                    <p  class="mt-2 lg:mt-5">Phone:</p>
                    <p class="mt-2 lg:mt-5">Email:</p>
                    <p class="mt-2 lg:mt-5">Gender:</p>
                </div>
                <form method="post" action="/user/myAccount/edit" class=" w-full">
                    <p id="number" class="lg:mt-5 mt-2"><%= customer.phone %></p>
                    <input  class="bg-[#E7EEF0] lg:mt-5 rounded-md h-[20px]  mt-2 hidden px-2 w-11/12 outline-none lg:py-3" type="text" name="number" id="numberChange" >
                    <p id="email" class=" mt-2 lg:mt-5"><%=customer.email %></p>
                    <input class="bg-[#E7EEF0] lg:mt-5 rounded-md h-[20px] mt-2 hidden px-2 w-11/12 outline-none lg:py-3" type="text" name="email" id="emailChange">
                    <p class="mt-2 lg:mt-5 capitalize"><%= customer.gender %></p>
                    <button type="submit" class="hidden " id="editSubmit"></button>
                </form>
            </div>
       </div>
       <div class="mt-10 lg:mt-2 space-y-3 lg:space-y-0 lg:gap-y-2 lg:gap-x-3 lg:grid  lg:grid-cols-3"><!--Buttons-->
            <div id="EditProfile" class="flex items-center justify-between px-3 bg-white rounded-md py-1 ">
                <p class="text-sm font-semibold text-[#333333]">Edit Profile</p>
                <div class=" rounded-[50%] cursor-pointer bg-gray-100  inline-block">
                    <span class="material-symbols-outlined font-semibold  text-center h-5 w-5 align-middle table-cell text-[#666666] ">
                        chevron_right
                    </span>
                </div>
            </div>
            <a href="/user/myCart" class="flex items-center justify-between px-3 bg-white rounded-md py-1 ">
                <p class="text-sm font-semibold text-[#333333]">My Cart</p>
                <div class=" rounded-[50%] cursor-pointer bg-gray-100  inline-block">
                    <span class="material-symbols-outlined font-semibold  text-center h-5 w-5 align-middle table-cell text-[#666666] ">
                        chevron_right
                    </span>
                </div>
            </a>
            <a href="/user/wishList" class="flex items-center justify-between px-3 bg-white rounded-md py-1">
                <p class="text-sm font-semibold text-[#333333]">Wish List</p>
                <div class=" rounded-[50%] cursor-pointer bg-gray-100  inline-block">
                    <span class="material-symbols-outlined font-semibold  text-center h-5 w-5 align-middle table-cell text-[#666666] ">
                        chevron_right
                    </span>
                </div>
            </a>
            <a href="/user/aboutUs" class="flex items-center justify-between px-3 bg-white rounded-md py-1">
                <p class="text-sm font-semibold text-[#333333]">About Us</p>
                <div class=" rounded-[50%] cursor-pointer bg-gray-100  inline-block">
                    <span class="material-symbols-outlined font-semibold  text-center h-5 w-5 align-middle table-cell text-[#666666] ">
                        chevron_right
                    </span>
                </div>
            </a>
            <a class="flex items-center justify-between px-3 bg-white rounded-md py-1">
                <p class="text-sm font-semibold text-[#333333]">Contact Us</p>
                <div class=" rounded-[50%] cursor-pointer bg-gray-100  inline-block">
                    <span class="material-symbols-outlined font-semibold  text-center h-5 w-5 align-middle table-cell text-[#666666] ">
                        chevron_right
                    </span>
                </div>
            </a>
            <a href="/  user/logOut" class="flex items-center justify-between px-3 bg-white rounded-md py-1">
                <p class="text-sm font-semibold text-[#333333]">Log Out</p>
                <div class=" rounded-[50%] cursor-pointer bg-gray-100  inline-block">
                    <span class="material-symbols-outlined font-semibold  text-center h-5 w-5 align-middle table-cell text-[#666666] ">
                        chevron_right
                    </span>
                </div>
            </a>
       </div>
    </main>
    <div class=" flex-grow">

    </div>
    <%-include("../partials/user/userFooter.ejs")%>
</body>
<script src="/javascripts/user/myAccount.js"></script>
<script src="../../javascripts/user/common.js"></script>
</html>