<%-include("../partials/user/head.ejs")%>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="/css/user/header.css">
<link rel="stylesheet" href="/css/user/product.css">

<body class="bg-[#F2F2F2] flex flex-col h-screen  ">
    <%-include('../partials/user/headerPhone.ejs')%>
    <%-include('../partials/user/HeaderDesktopUser.ejs')%>
    <div class="searchResult-Container">
    </div>
    <main class=""><!--container-->
        <div class="px-3 bg-white m-2  rounded-md pb-6 lg:flex   ">
            <div class="lg:w-1/2 w-full px-6"><!--Desktop flex firs part-->
                <div class="flex justify-center py-5 border-b-gray-500 border-b-[.1px] lg:border-0 w-full lg:min-w-1/2
            relative">
                    <img class="h-80 w-full object-contain lg:w-96" src="<%=product.imageUrl%>" alt="">
                    <button data-product-id="<%= product._id %>" data-tooltip-target="tooltip-bottom" data-tooltip-placement="bottom" type="button" onclick="favorite(this)" id="favButton"  class="material-symbols-outlined  absolute top-3 right-[-10px]   lg:right-20 lg:top-5 <%= isProductInWishlist ? 'favFill' : 'text-[#666666]' %>">
                        favorite
                    </button>
                    


                    <div  id="tooltip-bottom" role="tooltip" class="absolute  z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Add to Wish List
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    
                </div>
                <div class="flex lg:mt-5 fixed z-30 lg:relative  bottom-0 right-0 w-full lg:flex lg:flex-col lg:items-center lg:space-y-5 "><!--Fixed buttons-->
                    <button data-product-id="<%= product._id %>" class="main-add-to-cart-button  w-1/2 lg:w-7/12 lg:py-2 hover:border-[#c4951d] hover:drop-shadow-sm hover:scale-105 bg-white border-[#daa520] border py-4 font-semibold lg:rounded-md">
                        Add to cart 
                    </button>
                    <div id="toast-success" class="flex absolute opacity-0 transition-all duration-300  lg:top-6 invisible  items-center w-full max-w-sm p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                            </svg>
                            <span class="sr-only">Check icon</span>
                        </div>
                        <div class="ms-3 text-sm font-normal">Item Added to Cart</div>
                        <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                            <span class="sr-only">Close</span>
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                        </button>
                    </div>
                    <a href="/user/buynow/<%-product._id %>" class="w-1/2 flex justify-center items-center lg:w-7/12 lg:py-2 bg-[#daa520]  hover:drop-shadow-sm hover:bg-[#c4951d] hover:scale-105 py-4 text-white font-semibold lg:rounded-md">
                        Buy now
                    </a>
                </div>
            </div>
           <div class="lg:w-1/2 mt-3 lg:m-6 lg:mt-0 lg:flex lg:flex-col lg:justify-center"><!--Desktop flex second part-->
            <div class="space-y-[2px]">
                <p class="text-[#4B727A] font-bold text-2xl lg:text-3xl capitalize"><%=product.bookName%></p>
                <p class="text-[#5E8E99] font-light capitalize"><%=product.author%></p>
                <div class="flex space-x-2 items-center">
                    <div class="bg-[#DAA520] text-white w-fit px-2 rounded-md lg:t text-sm py-1 lg:font-semibold">
                        <%=product.discount%>% off
                    </div>
                    <p class="text-[#666666] font-medium text-sm">MRP <span class="line-through"><%=product.MRP%></span></p>
                </div>
                <div class="flex items-center space-x-2">
                    <p class="font-bold text-2xl">₹<%=product.salePrice%></p>
                    <span class="text-sm text-red-700 font-medium">+40 (delivery)</span>
                </div>
            </div>
            <div class="mt-5 border-[.2px] border-gray-600 p-3 lg:flex lg:space-x-16 ">
                <div class="w-fit whitespace-nowrap">
                    <span class="text-[#333333] font-semibold">Book Details</span>
                    <div class="flex lg:space-x-10 space-x-20 mt-3" >
                        <div class="text-sm text-[#666666] space-y-1 "> <!--headings-->
                           <p>Title :</p>
                           <p>Author :</p>
                            <p>Height :</p>
                            <p>Width :</p>
                            <p>Pages :</p>
                             <p>Publisher :</p>
                            <div class="flex items-center">
                                <p>Condition</p>
                                <span class="material-symbols-outlined text-[#666666] text-xs">
                                help
                                </span>
                                <p> :</p>
                            </div>
                        </div>
                        <div class="text-sm text-[#666666] space-y-1"> <!--datas-->
                            <p><%=product.bookName%></p>
                            <p><%=product.author%></p>
                            <p><%=product.height%>cm</p>
                            <p><%=product.width%>cm</p>
                            <p><%=product.pages%></p>
                            <p><%=product.publisher%></p>
                            <p><%=product.condition%></p>
                        </div>
                    </div>
                </div>
               
                
                <div class="mt-3">
                    <h2 class="text-[#333333] font-semibold">Description</h2>
                    <p class="text-sm text-[#666666] mt-2"><%= product.description.substring(0, 400) %><span id="readmoreDots">...</span><span id="showText" class="hidden"><%=product.description%> </span> <button id="readMoreButton" class="text-blue-500 text-sm h-fit py-0 my-0">Read more</button></p>
                </div>
            </div>
           </div>
        </div>
        <!--Recommended books-->

        <div class="bg-[#FBFBFB] pb-20 lg:pb-5 lg:mx-2 lg:px-2 lg:rounded-md lg:mb-5 "> <!--Novel conatiner-->
            <p class="pl-8 lg:pl-4 lg:font-semibold pt-2 text-sm lg:text-base font-medium">Recommended Books</p>
            <div class="flex space-x-5 md:space-x-4 lg:space-x-5 px-2 mt-3 w-full overflow-auto"> <!--Books group container-->
                <!--item-->
              <% recommendedProducts.slice(0,7).forEach(function(data){ %>
                <a href="/user/product/<%= encodeURIComponent(data._id)%>" class="bg-white md:min-w-[135px] md:max-w-[135px]  min-w-[119px] max-w-[119px] max-h-44  rounded-md drop-shadow-md hover:drop-shadow-xl cursor-pointer  pt-2 pb-1 relative lg:min-h-[200px] lg:min-w-[160px] w-3 lg:pb-52 "> 
                    <div class="flex items-center justify-center"> 
                        <img class="rounded-t-md w-[115px] md:w-[135px] h-[93px] md:h-[100px] object-contain pb-2 border-b lg:min-h-[120px] lg:min-w-[150px]" src="<%=data.imageUrl %>" alt="">
                    </div>
                    <div class="flex flex-col items-center ">
                        <p class="mt-2 text-[#4B727A] font-semibold text-[13px] max-w-[110px] lg:max-w-[140px] truncate lg:text-sm"><%=data.bookName %></p>
                        <p class="text-[#5E8E99] font-normal text-[11px] max-w-[110px] lg:max-w-[130px] truncate lg:text-xs"><%=data.author %></p>
                        <div class="mt-[-5px] lg:mt-[1px]">
                            <span class="text-[11px] font-bold text-[#008000] lg:text-sm "><%=data.discount %>% off</span> <span class="text-[11px] text-[#666666] line-through lg:text-sm"><%=data.MRP %></span> <span class="text-[11px] font-bold lg:text-sm"><%=data.salePrice %></span></div>
                    </div>
                    <button  data-product-id="<%= data._id %>" class="absolute rounded-lg hover:bg-[#c4951d] hover:scale-105  bg-[#DAA520] items-center top-2 -right-[8%] md:-right-[12%] lg:-right-[10%] z-20 add-to-cart-button">
                        <div class=" px-1 py-[1px]  flex text-white space-x-[2px] lg:px-2 lg:py-1 ">
                            <p class="text-xs lg:text-sm font-medium cartNotification">Add</p>
                            <img class="h-3 lg:h-4 cart-image" src="/images/shopping-cart white.png" alt="">
                        </div>
                    </button>
                </a>
             <%  })%> 
               
            </div>
        </div>
    
    </main>
  
    <div class="flex-grow">
    </div> 
    <div class="hidden lg:block">  
        <%-include("../partials/user/userFooter.ejs")%>
    </div>
   
   
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/javascripts/user/product.js"></script>
<script src="../../javascripts/user/common.js"></script>